# Java
*.class

# Output directory
bin/

# Environment and sensitive configuration
.env
# .env.example

# Shared files (data handled by the deamon)
shared/

# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Eclipse files
.settings/
.project
.classpath

# OS files
Thumbs.db
.DS_Store

# PDFs and Documentation
*.pdf

# Logs
*.log
